<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Pet Shop</title>

    <!-- JavaScript: main.js-->
    <script defer src="/static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout_edit.css" />
</head>
<body>
<div th:replace="navbar.html :: copy"></div>
sdfsdf
<div th:replace="footer.html :: copy"></div>


</body>
</html>